@import "bootstrap/variables";
@import "bootstrap/mixins";

.easy-workflow-mt {
  margin-top: 12%
}

#jgrowl-top {
  position: fixed;
  top: 0;
  left: 40%;
}

.paginate-nomargin .pagination {
  margin: 0;
}