{% extends "@EasyWorkflow/base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            hello world!
        </div>
    </div>
{% endblock %}