<select class="form-control" name="nextHandlerId" id="nextHandlerId" size="10">
    {% for nextHandler in nextNode.nextHandlers %}
        <option value="{{ nextHandler.id }}">{{ nextHandler.username }}</option>
    {% endfor %}
</select>
{{ nextNode.name }}