<select class="form-control" name="nextHandler" id="nextHandler" size="10">
    {% for nextHandler in nextHandlers %}
        <option value="{{ nextHandlers.id }}">{{ nextHandler.username }}</option>
    {% endfor %}
</select>