{% extends "@EasyWorkflow/base.html.twig" %}
{% block content %}
    <!-- content -->
    <div class="col-md-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>文件上传测试</h1>
                </div>
            </div>
        </div>
        {% include '@EasyWorkflow/_flash_messages.html.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">文件上传</div>
                    </div>
                    <div class="bootstrap-admin-panel-content text-muted" style="padding: 60px 0;">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <form action="{{ path('easyworkflow_files_upload2mongo') }}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="file"><span class="text-danger">*</span> 文件上传</label>
                                        <input type="file" name="file" id="file"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="file"><span class="text-danger">*</span> 粘贴上传</label>
                                        <textarea id="pasteUpload" class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm"><i
                                                class="glyphicon glyphicon-hand-up"></i> 确定提交
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    // Created by STRd6
    // MIT License
    // jquery.paste_image_reader.js
    (function($) {
        var defaults;
        $.event.fix = (function(originalFix) {
            return function(event) {
                event = originalFix.apply(this, arguments);
                if (event.type.indexOf('copy') === 0 || event.type.indexOf('paste') === 0) {
                    event.clipboardData = event.originalEvent.clipboardData;
                }
                return event;
            };
        })($.event.fix);
        defaults = {
            callback: $.noop,
            matchType: /image.*/
        };
        return $.fn.pasteImageReader = function(options) {
            if (typeof options === "function") {
                options = {
                    callback: options,
                    matchType: 'Files'
                };
            }
            options = $.extend({}, defaults, options);
            return this.each(function() {
                var $this, element;
                element = this;
                $this = $(this);
                return $this.bind('paste', function(event) {
                    var clipboardData, found;
                    found = false;
                    clipboardData = event.clipboardData;
                    return Array.prototype.forEach.call(clipboardData.types, function(type, i) {
                        var file, reader;
                        if (found) {
                            return;
                        }
                        if (type.match(options.matchType) || clipboardData.items[i].type.match(options.matchType)) {
                            file = clipboardData.items[i].getAsFile();
                            reader = new FileReader();
                            reader.onload = function(evt) {
                                return options.callback.call(element, {
                                    dataURL: evt.target.result,
                                    event: evt,
                                    file: file,
                                    name: file.name
                                });
                            };
                            reader.readAsDataURL(file);
                            return found = true;
                        }
                    });
                });
            });
        };
    })(jQuery);

    $(function(){
        $("#pasteUpload").pasteImageReader(function(results) {
            var xhr = new XMLHttpRequest(),
                fd  = new FormData();
            xhr.open('POST', '{{ path('easyworkflow_files_upload2mongo') }}', true);
            // this.result得到图片的base64 (可以用作即时显示)
            fd.append('file', results.dataURL);
            xhr.send(fd);
        });
    });
    </script>
{% endblock %}
